body {
    margin: 0;
}
#root {
    width: 100vw;
    height: 100vh;
}
h1 {
    margin: 0;
}

.App {
    text-align: center;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: 40px 1fr;
    grid-template-columns: 3fr 1fr;
}

.title {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 3;
}

.waves {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 3;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
}

.wave {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
}

.settings {
    position: relative;
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
    overflow-y: auto;
}

.settings__wave {
    background: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(5px);
    padding: 10px;
    border-radius: 5px;
}
